.Acerca-de {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: justify;
}

.conteiner {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
  text-align: justify;
}
.h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
}

.parrafo1 {
  font-family: "Courier New", Courier, monospace;
  color: blue;
  text-align: center;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
header {
  background-color: #8f0000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  gap: 1.1em;
}

header nav ul li a {
  color: white;
}

footer nav ul li a {
  display: flex;
  gap: 1.1em;
  justify-content: center;
  background-color: #8f0000;
}

.acerca-imagen {
  text-align: center;
}
.sesion2 {
  text-align: center;
}

.footer {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  text-align: justify;
  display: flex;
  gap: 1.1em;
  justify-content: center;
  background-color: #8f0000;
}

/*Menu Responsive*/
#check {
  display: none;
}
.checkbtn {
  font-size: 25px;
  color: rgb(221, 220, 236);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

/*Media Queries*/
/* Estilos para pantallas más pequeñas (hasta 768px) */
@media (max-width: 768px) {
  header {
    background-color: blueviolet;
  }
  .checkbtn {
    display: block;
  }

  .encabezado ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: chocolate;
    top: 80px;
    left: 100%;
    transition: all 0.5s;
  }

  #check:checked ~ ul {
    display: block;
  }

  /* Aquí puedes escribir los estilos que se aplicarán en pantallas más pequeñas */
}
