ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}
header {
  background-color: #8f0000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  gap: 1.1em;
}

header nav ul li a {
  color: white;
}

footer nav ul li a {
  display: flex;
  gap: 1.1em;
  justify-content: center;
  background-color: #8f0000;
}

.footer {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: black;
    text-align: justify;
    display: flex;
    gap: 1.1em;
    justify-content: center;
    background-color: #8f0000;
  }

.titulo_seccion {
      position: relative;
      font-size: 40px;
      color: #003750;
      text-align: center;
    }
    .container {
      max-width: XX; /* Define el ancho máximo del contenedor */
      margin: 0 auto; /* Centra el contenedor horizontalmente */
      padding: XX; /* Agrega un poco de espacio alrededor del formulario */
      border: XX; /* Agrega un borde al contenedor */
      border-radius: XX; /* Agrega bordes redondeados al contenedor */
    }
    .form-group {
      margin-bottom: 15px; /* Espacio entre cada input */
    }
    label {
      margin-bottom: 5px;
    }
    input[type="text"],
    input[type="email"],
    textarea {
      width: XX; /* Define el ancho máximo del input */
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    textarea {
      resize: vertical; /* Permite redimensionar verticalmente el textarea */
    }
    button {
      /* Coloca estilos a tu botón */
    }
    button:hover {
      background-color: #0056b3;
    }
    
